<% provide(:title, 'Om mlmmj-ror-admin') %>
<h1>Om denne webaplikasjonen</h1>
<p>
	Denne aplikasjonen er laget for å kunne administrere e-postlister 
	i <%= link_to "mlmmj", "http://mlmmj.org/" %>
</p>