<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <h1>Du er logget inn</h1>
      <p>Dine tilgjengelige lister:</p>
      <% @current_user.groups.each do |group|
        list = Liste.find(group.id) %>
        <ul> <%= link_to(list.navn, "/listes/#{list.id}")  %> </ul>
      <% end %>


    </aside>
    <div class="span8">
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Velkommen!</h1>
    <h2>til webside for å administrere e-post lister</h2>


    <%= link_to "Lag en konto!", signup_path, 
                                class: "btn btn-large btn-primary" %>
                                <p>Eller</p>
    <%= link_to "Logg inn!", signin_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 