<h2>Existing lists not configured in this app:</h2>
<% @unconfed.each do |single| %>
	<% @liste = Liste.new %>
	<% @liste.bane = single %>

	<div class="listform">
		<%= render 'form' %>
	</div>

<% end %>
